* {
	margin: 0;
	padding: 0;
}

p {
	padding: 0 0 1em;
}
/* message display page */
.message_list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 270px;
}
.message_list li {
	padding: 0;
	margin: 0;
	background: url(../images/message-bar.jpg) no-repeat;
}
.message_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
}
.message_head .timestamp {
	color: #fff;
	font-size: 95%;
	position: absolute;
	right: 15px;
	top: 5px;
}
.message_head cite {
	font-size: 77%;
	font-weight: bold;
	font-style: normal;
	color: #fff;
	font-family: Tahoma;
}
.message_body {
	padding: 5px 10px 15px;
}
.collapse_buttons {
	text-align: right;
	border-top: solid 1px #fff;
	padding: 5px 0;
	width: 383px;
}
.collapse_buttons a {
	margin-left: 15px;
	float: right;
}
.show_all_message {
	background: url(../images/tall-down-arrow.gif) no-repeat right center;
	padding-right: 12px;
}
.show_recent_only {
	display: none;
	background: url(../images/tall-up-arrow.gif) no-repeat right center;
	padding-right: 12px;
}
.collpase_all_message {
	background: url(../images/collapse-all.gif) no-repeat right center;
	padding-right: 12px;
	color: #fff;
}


		

 
		