<html>
	<meta http-equiv="content-type" content="text/html; charset=UTF8">
	<head>
		<title>Title</title>
		<link href="style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	  <div id="loadingtext"></div>
		<table class="main" border="0" align="center">
			<tr>
				<td class="top" colspan="2">Welcome to this page!</td>
			</tr>
			<tr>
				<td class="topmenu" colspan="2">
					<table class="main">
						<tr>
							<td><img src="topmenu_start.png" align="right"></td>
							<td class="menuitem"><a class="menu" href="">USSR</a></td>
							<td class="menuitem"><a class="menu" href="">USA</a></td>
							<td class="menuitem"><a class="menu" href="">Europe</a></td>
							<td><img src="topmenu_end.png" align="left"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="left_panel">
	<!--					<ul>
						<li>Item 1</li>
						<li>Item 2</li>
						<li>Item 3</li>
						<li>Item 4</li>
					</ul> -->
				</td>
				
				<td class="text">
					<table class="main" border="1">
						<tr>
							<td width="80px" class="framed"><canvas id="lesson14-canvas" style="border: none;" width="500" height="500"></canvas></td>
						</tr>
						<tr>
							<td width="30%" class="framed">Descriptions</td>
							
						</tr>
					</table>
				</td>
			</tr>
				<tr>
					<td class="copyright">Права пока что не защищены :)</td>
					<td class="bottommenu">Быстрый переход</td>
				</tr>
		</table>
	</body>
</html>
